body {
    margin: 0;
    background: #E3E6E6;
}

header {
    background-color: #232F3E;;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header h2 {
    margin: 0;
    color: white;
    text-align: left;
}

#search-bar {
    padding: 8px;
    width: 800px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

#search-button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
}

#search-container {
    margin-top: 0;
    display: flex;
    align-items: center;
}

table {
    border-collapse: separate;
    text-indent: initial;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: #A52A2A;
    text-align: start;
    border-spacing: 2px;
    white-space: normal;
    font-variant: normal;
    border-color: #DEB887;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

td {
    border-top: 1px solid darkorchid;
}

.code {
    font-family: monospace;
    background-color: beige;
}

#list-container {
    text-align: center;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.horizontal-list li {
    margin-right: 10px;
}

.horizontal-list li span {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

 

.content-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        /* Style for the text */
        h1, p#banner-ds {
            position: absolute;
            color: white; /* Text color */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Text shadow for better visibility */
            z-index: 1; /* Ensure text appears above the image */
            margin: 0; /* Remove default margins */
        }

        h1 {
            font-size: 40px;
            top: 35%; /* Center vertically */
            left: 10px; /* Adjust the left position as needed */
            transform: translateY(-50%); /* Center the text vertically */
        }

        p#banner-ds {
            font-size: 20px;
            top: 50%; /* Adjust the top position as needed */
            left: 10px; /* Adjust the left position as needed */
            padding: 10px, 10px, 20px, 20px;
        }

        /* Style for the image */
        #banner-image {
            width: 100%;
            height: 150px;
            display: block; /* Remove extra space below image */
            border: 1px solid #ddd; /* Light border around the image */
            border-radius: 8px; /* Optional: Add border-radius for a rounded appearance */
            z-index: 0; /* Ensure image appears behind the text */
        }

        img {
            
            border: 1px solid #ddd;
            border-radius: 8px; 
            z-index: 0; 
        }

        .usage-tags {
          font-size: 40px;
          color: brown;
          font-style: bold;
          text-align: center;
          text-shadow: 2px 2px 4px white;
          line-height: 5px;       
          background: url('https://images.pexels.com/photos/301717/pexels-photo-301717.jpeg') 0 0 / cover;
          border: 1px solid #ddd;
          border-radius: 8px;
          z-index: 0;
          padding: 2px;
        
        }
  #pre-tag {
    background:black;
    color: white;
    padding: 10px;
    overflow: auto;
    width: 350px;
    display: block; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    z-index: 0; 
  }
  #para-head{
    font-weight: bold;
    color: brown;
    font-size: 30px;
    text-shadow: 2px 2px 4px white;
    background: url('https://images.pexels.com/photos/172295/pexels-photo-172295.jpeg?');
    width: 500px; 
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

        
